<%- include("header") %>

<main class = "series_main">
    <% for (let serie of series) { %>
    <h2><%- serie.name %></h2>
    <div id = "series_container">
        <figure>
            <img class = "seriesImage" src = "<%= serie.image %>" width= "755" height= "425">
        </figure>
        <section class = "details">
            <ul>
                <li><span class = "detail">Voorraad:</span> <%- serie.amount %></li>
                <li><span class = "detail">Jaar:</span> <%- serie.firstAppearance %></li>
                <li><span class = "detail">Luthier:</span> <%- serie.creator %></li>
            </ul>
        </section>
    </div>
    <% } %>
</main>